#parent{
    background-color: beige;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header header'
        'navigation content'
        'footer footer';
}

#header{
    grid-area: header;
    background-color: black ;
    color: beige;
    text-align: center;
}

#navigation{
    grid-area: navigation;
    background-color: brown;
}

#content{
    grid-area: content;
    background-color: azure;
    text-align: center;
  
}

#footer{
    grid-area: footer;
    background-color: black;
    color: beige;
    display: flex;
    justify-content: space-between;
}
